body {
    background-color: rgb(69, 69, 69);
    font: 13pt Arial;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.529);
    box-sizing: border-box;
}

h1 {
    color: darkgoldenrod;
}
strong{
    color: darkgoldenrod;
}
h2 {
    color: rgb(125, 92, 8);
}
p{
    text-align: left;
}



a, a:visited {
    color: rgb(34, 34, 34);
    font-weight: bolder;
}

a:hover {
    color: darkgoldenrod;
    text-decoration: none;
}

.row div{
    display: flex;
    flex-direction: row;
    padding: 1em;
}
.row{
    padding: 6em;
}
